*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: coral;
            min-height: 100vh;
}
img{
    width: 100%;
    height: 300px;
    animation: kel 2s ease 7s 3;
}
figure{
    display: grid;
    grid-template-columns: repeat(3,420px);
    grid-template-rows: 300px;
    margin-top: 20px;
    margin-left: 90px;
    grid-row-gap:20px;
    grid-column-gap: 30px;
    width: 950px;
    
}
h2{
    text-align: center;
    margin-top: 20px;
    color: wheat;
    font-size: 30px;
}
p{
    
    margin-top: 25px;
}
li{
    margin-left:100px;
    font-size: 25px;
    margin-top: 15px;
    font-weight: bold;
}
@keyframes kel{
    0%{

    }
    50%{
        scale: 1.1;
        transform: rotate(0);
        border-radius: 0;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
        scale: 1.3;
    }
}
@media only screen and (max-width: 700px){
   body{
    overflow-x: hidden;
   }
    h2{
    font-size: 20px;
    margin-left: 30px;
   }
   img{
    width: 100%;
    height: 100%;
    object-fit: cover;

   }
   figure{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 60%;
    gap: 10px;
    

    
    
}

}